<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Vue3</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    
    <div id="app">
        <h1>{{ name }}</h1>
        <!-- class, src, style, href, alt ( v-bind: ) -->
        <a :href="url">Google</a>

        <div v-if="stoke > 10"> 
            <p>In Stoke</p>
        </div>
        <div v-else-if = "stoke < 10 && stoke > 0"> 
            <p>Almot sesh!</p>
        </div>
        <div v-else> 
            <span>
                Out of stoke
            </span> 
        </div>

        <ul>
            <li v-for="deg in degrees"> {{ deg }} </li>
        </ul>
        <div v-for="cou in courses" >
            <p>{{ cou }}</p>
        </div>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, harum!
        </p>
    </div>


    <script src="main.js"></script>
    <script> 
        const appMount = app.mount( "#app" );
    </script>
</body>
</html>